[project]
	description = HTC Vigor Device tree for Bugless Beast/Steel Droid
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shaun Nuzzo (Snuzzo)
[access "refs/for/refs/*"]
	read = group user/Shaun Nuzzo (Snuzzo)
	push = group user/Shaun Nuzzo (Snuzzo)
	label-Code-Review = -2..+2 group user/Shaun Nuzzo (Snuzzo)
	label-Verified = -1..+1 group user/Shaun Nuzzo (Snuzzo)
	rebase = group user/Shaun Nuzzo (Snuzzo)
	removeReviewer = group user/Shaun Nuzzo (Snuzzo)
	submit = group user/Shaun Nuzzo (Snuzzo)
[access "refs/heads/*"]
	read = group user/Shaun Nuzzo (Snuzzo)
	create = group user/Shaun Nuzzo (Snuzzo)
	push = +force group user/Shaun Nuzzo (Snuzzo)
	pushMerge = group user/Shaun Nuzzo (Snuzzo)
[access "refs/tags/*"]
	push = +force group user/Shaun Nuzzo (Snuzzo)
	pushTag = group user/Shaun Nuzzo (Snuzzo)
	pushSignedTag = group user/Shaun Nuzzo (Snuzzo)
